In [2]:
import pandas as pd

In [3]:
reviews = pd.read_csv('Movie Data/Books_rating.csv')

In [5]:
reviews.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 10 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Id                  3000000 non-null  object
 1   Title               2999792 non-null  object
 2   Price               481171 non-null   float64
 3   User_id             2438213 non-null  object
 4   profileName         2438095 non-null  object
 5   review/helpfulness  3000000 non-null  object
 6   review/score        3000000 non-null  float64
 7   review/time         3000000 non-null  int64
 8   review/summary      2999593 non-null  object
 9   review/text         2999992 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 228.9+ MB

In [6]:
book_info = pd.read_csv('Movie Data/books_data.csv')

In [8]:
book_df = book_info[['Title','authors','categories']]

In [20]:
merged_df = pd.merge(reviews,book_df,on='Title',how='inner')

In [1]:
cleaned_df = merged_df.drop(columns=['Price','review/helpfulness','profileName','review/time','review/summary','review/text'])

NameError: name 'merged_df' is not defined

In [29]:
cleaned_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Title         2999792 non-null  object
 1   User_id       2438213 non-null  object
 2   review/score  3000000 non-null  float64
 3   authors       2609366 non-null  object
 4   categories    2448502 non-null  object
dtypes: float64(1), object(4)
memory usage: 114.4+ MB