In [1]:
import pandas as pd

In [2]:
reviews = pd.read_csv('Book Data/Books_rating.csv')

In [3]:
reviews.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 10 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Id                  3000000 non-null  object
 1   Title               2999792 non-null  object
 2   Price               481171 non-null   float64
 3   User_id             2438213 non-null  object
 4   profileName         2438095 non-null  object
 5   review/helpfulness  3000000 non-null  object
 6   review/score        3000000 non-null  float64
 7   review/time         3000000 non-null  int64
 8   review/summary      2999593 non-null  object
 9   review/text         2999992 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 228.9+ MB

In [4]:
reviews.head()

,Id,Title,Price,User_id,profileName,review/helpfulness,review/score,review/time,review/summary,review/text
0,1882931173,Its Only Art If Its Well Hung!,NaN,AVCGYZL8FQQTD,"Jim of Oz ""jim-of-oz""",7/7,4.0,940636800,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,0826414346,Dr. Seuss: American Icon,NaN,A30TK6U7DNS82R,Kevin Killian,10/10,5.0,1095724800,Really Enjoyed It,I don't care much for Dr. Seuss but after read...
2,0826414346,Dr. Seuss: American Icon,NaN,A3UH4UZ4RSVO82,John Granger,10/11,5.0,1078790400,Essential for every personal and Public Library,"If people become the books they read and if ""t..."
3,0826414346,Dr. Seuss: American Icon,NaN,A2MVUWT453QH61,"Roy E. Perry ""amateur philosopher""",7/7,4.0,1090713600,Phlip Nel gives silly Seuss a serious treatment,"Theodore Seuss Geisel (1904-1991), aka &quot;D..."
4,0826414346,Dr. Seuss: American Icon,NaN,A22X4XUPKF66MR,"D. H. Richards ""ninthwavestore""",3/3,4.0,1107993600,Good academic overview,Philip Nel - Dr. Seuss: American IconThis is b...

In [4]:
book_info = pd.read_csv('Book Data/books_data.csv')

In [5]:
book_df = book_info[['Title','authors','categories']]

In [6]:
merged_df = pd.merge(reviews,book_df,on='Title',how='inner')

In [7]:
cleaned_df = merged_df.drop(columns=['Price','review/helpfulness','profileName','review/time','review/summary','review/text'])

In [8]:
cleaned_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 6 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Id            3000000 non-null  object
 1   Title         2999792 non-null  object
 2   User_id       2438213 non-null  object
 3   review/score  3000000 non-null  float64
 4   authors       2609366 non-null  object
 5   categories    2448502 non-null  object
dtypes: float64(1), object(5)
memory usage: 137.3+ MB